---
# Styleguide
---

@import ../_sass/styleguide/styleguide

// Used for storing JSON of colors only
#brandColorData:before
  content: sassToJs($brand-colors)
  height: 0
  opacity: 0
  font-size: 0
#uiColorData:before
  content: sassToJs($ui-colors)
  height: 0
  opacity: 0
  font-size: 0
#grayColorData:before
  content: sassToJs($gray-colors)
  height: 0
  opacity: 0
  font-size: 0
#textColorData:before
  content: sassToJs($text-colors)
  height: 0
  opacity: 0
  font-size: 0
#topicColorData:before
  content: sassToJs($topic-colors)
  height: 0
  opacity: 0
  font-size: 0
