body
  background-color: gray-color(white)

.todo
  background-color: rgba(253,90,201,0.2)
  color: #FD5AC9
  font-weight: $bold
  text-transform: uppercase
  font-size: 15px
  font-family: monospace
  &::before
    content: "To Do!!"
    display: inline-block
    padding: 4px 8px
    border-radius: 2px

.na
  background-color: gray-color(gray-1)
  color: gray-color(gray-4)
  &::before
    content: "n/a"
    display: inline-block
    padding: 4px 8px
    border-radius: 2px



.guide

  // =========================================
  // Guide Banner
  // =========================================
  &-banner
    background-color: brand-color(gray)
    height: 50px

  // =========================================
  // A11y Skip
  // =========================================
  &-skip-content a
    color: gray-color(gray)
    font-size: 0.75rem
    text-decoration: none

  // =========================================
  // Guide Name
  // =========================================
  &-name
    color: gray-color(white)
    font-weight: $light
    text-decoration: none
    @media screen
      font-size: 1.5rem
    +media(min-width 960px)
      font-size: 1.5rem
    +selected
      color: gray-color(white)

  &-version
    color: gray-color(gray-4)
    font-size: text-size(7)
    padding: 0 spacing(1)
    &::after
      content: $lens-version
    &:hover
      color: gray-color(white)

  // =========================================
  // Guide Navigation
  // =========================================
  &-navigation
    background-color: #fff
    border-right: solid 1px gray-color(gray-2)
    &-list,
      list-style: none
    &-item-parent,
    &-link
      color: gray-color(gray-7)
      font-size: text-size(6)
      text-decoration: none
      border-right: solid 1px gray-color(gray-2)
      &:focus,
      &:hover,
      &:active
        color: gray-color(gray-7)
        background-color: gray-color(gray-1)
      &.active
        color: gray-color(gray-7)
    &-icon
      +absolute(right 20px top 9px)
      font-size: text-size(3)
      transform: rotate(-45deg)
      transition: transform 50ms ease-in-out
    &-item-parent
      .guide-navigation-icon:after
        content: '\00D7'
      &.active
        .guide-navigation-list-child
          display: block
        .guide-navigation-icon
          +absolute(right 19px top 9px)
          transform: rotate(0deg)
    &-list-child
      list-style: none
      display: none
    &-link
      &.active
        font-weight: $bold
        &::after
          content: ""
          +absolute(left 0 top 0)
          width: 7px
          height: 100%
          background-color: gray-color(gray-7)

  // =========================================
  // Guide Main
  // =========================================
  // hmmm... should we be over-riding anything?
  // Shouldn't we be leveraging Lens defaults...?
  // Here i'll put styles for some documentation-level "Components"

  &-content
    section
      margin: 0 0 spacing(4) 0
      .inpage-anchor
        display: block
        position: relative
        top: -70px
        visibility: hidden

  &-example
    margin: spacing(2) 0 spacing(4)
    &::before
      content: "Example"
      display: block
      text-transform: uppercase
      font-size: text-size(7)
      color: gray-color(gray-4)
      margin-bottom: spacing(2)
    &-demo
      // the demo bits
      padding: 0 0 spacing(1) 0
    &-code
      // the code-y bits
      pre
        margin: 0

  // =========================================
  // Color Lists
  // =========================================
  &-color
    margin: 0 -1rem
    &-item
      > span
        color: rgba(#fff, 0.9)
        font-family: Monaco, monospace
        em
          color: rgba(#fff, 0.5)
          font-family: Helvetica, Arial, sans-serif
        &.bg-gray,
        &.bg-gray-2,
        &.bg-gray-3,
        &.bg-gray-1,
        &.bg-white
          color: gray-color(gray-6)
          em
            color: lighten(gray-color(gray-6), 25%)
        &.bg-white
          border: solid 1px gray-color(gray-1)
          border-bottom: 0
      .bg-yellow
        color: darken(#ffd466, 50%)
        em
          color: darken(#ffd466, 25%)
      .text-bg-white
        border: solid 1px gray-color(gray-3)
        span
          color: text-color(dark)
        em
          color: text-color(light)
  &-colors-gray,
  &-colors-text
    .guide-color-item
      span:first-child
        border-radius: $border-radius $border-radius 0 0
      span:last-child
        border-radius: 0 0 $border-radius $border-radius

// =========================================
// Hamburger Button
// =========================================
%hamburger
  left: 0
  border-radius: 4px
  background-color: gray-color(gray-4)
  width: 100%
  height: 2px
  position: absolute
  margin-top: -1px
  transition: background 300ms 0s ease, transform 300ms 0s ease, top 300ms 0.2s ease, bottom 300ms 0.2s ease
.hamburger
  @extend %hamburger
  &::before,
  &::after
    content: " "
    @extend %hamburger
  &::before
    top: -8px
  &::after
    bottom: -9px
  &-button
    border: 0
    background: none
    cursor: pointer
    position: absolute
    right: 1rem
    top: 0
    padding: 26px 0
    height: 30px
    width: 30px
    z-index: 1
    transition: opacity 600ms 0s ease, top 600ms 0s ease
    +media(min-width 960px)
      display: none
    &:hover
      .hamburger,
      .hamburger::before,
      .hamburger::after
        background-color: gray-color(gray-1)
    &-clicked
      .hamburger, .hamburger-button:hover .hamburger
        background-color: transparent !important
        &::before
          top: 0
          +transform(rotate(45deg))
        &::after
          bottom: 1px
          +transform(rotate(-45deg))
      .hamburger,
      .hamburger::before,
      .hamburger::after
        transition: background 300ms 0s ease, transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease

// =========================================
// Login Page
// =========================================
.login
  &-header
    +media(min-width 0 max-width (960px - 1))
      padding: 30px
    +media(min-width 960px)
      width: 65%
      height: 100vh
      float: left
    &-wrap
      +media(min-width 960px)
        +relative(top 35% left 20%)
  &-copy
    font-size: 15px
    +media(min-width 960px)
      font-size: 18px
  &-name
    +media(min-width 0 max-width (960px - 1))
      font-size: 42px !important
      margin-left: -3px
    +media(min-width 960px)
      font-size: 100px !important
      margin-left: -8px
  &-auth
    +media(min-width 0 max-width (960px - 1))
      padding: 30px
    +media(min-width 960px)
      float: left
      height: 100vh
      width: 35%
      padding-left: 60px
      padding-right: 60px
    +media(min-width 1140px)
      padding-left: 100px
      padding-right: 100px
    &-wrap
      +media(min-width 960px)
        +relative(top 35%)
