body
  background-color: #fff

.guide

  // =========================================
  // Guide Banner
  // =========================================
  &-banner
    background-color: brand-color(gray)

  // =========================================
  // A11y Skip
  // =========================================
  &-skip-content a
    color: gray-color(gray)
    font-size: 0.75rem
    text-decoration: none

  // =========================================
  // Guide Name
  // =========================================
  &-name
    color: #fff
    font-weight: $light
    text-decoration: none
    @media screen
      font-size: 1.5rem
    +media(min-width 960px)
      font-size: 1.5rem
    +selected
      color: #fff

  // =========================================
  // Guide Navigation
  // =========================================
  &-navigation
    background-color: #fff
    border-right: solid 1px gray-color(gray-2)
    &-icon
      +absolute(right 20px top 9px)
      font-size: 15px
      transform: rotate(-45deg)
      transition: transform 50ms ease-in-out
    &-item-parent
      .guide-navigation-icon:after
        content: '\00D7'
      &--active
        background-color: gray-color(gray-1)
        border-right: solid 1px gray-color(gray-2)
        box-shadow: 7px 0 0 brand-color(purple) inset
        .guide-navigation-link
          +selected
            box-shadow: 7px 0 0 button-color(purple) inset
            border-right: none
        .guide-navigation-list-child
          display: block
    &-item-child
      background-color: gray-color(gray-1)
    &-list-child
      list-style: none
      border-right: solid 1px gray-color(gray-2)
      display: none
    &-link
      color: gray-color(gray-5)
      font-size: 0.75rem
      text-decoration: none
      position: relative
      border-right: solid 1px transparent
      &:focus
        color: gray-color(gray-6)
      &:hover,
      &:active,
      &.active
        background-color: gray-color(gray-1)
        color: gray-color(gray-6)
        border-right: solid 1px gray-color(gray-2)
      &.active
        box-shadow: 7px 0 0 button-color(purple) inset
        +selected
          box-shadow: 7px 0 0 button-color(purple) inset
        .guide-navigation-icon
          +absolute(right 19px top 9px)
          transform: rotate(0deg)
      &-child
        font-size: 0.75rem
        &:focus,
        &:hover,
        &:active
          background-color: gray-color(gray-1)
          color: gray-color(gray-7)
          box-shadow: none !important
          border-right: none
        &.active
          font-weight: $bold
          box-shadow: none !important

  // =========================================
  // Guide Main
  // =========================================
  &-content
    background-color: #fff
    border-radius: $border-radius
    &-title
      font-size: 21px
    &-subtitle
      font-size: 18px
    &-description
      font-size: 14px
    &-h3
      font-size: 15px
    &-h4
      font-size: 14px



  // =========================================
  // Color Lists
  // =========================================
  &-color
    margin: 0 -1rem
    &-item
      > span
        color: rgba(#fff, 0.9)
        font-family: Monaco, monospace
        em
          color: rgba(#fff, 0.5)
          font-family: Helvetica, Arial, sans-serif
        &.bg-gray,
        &.bg-gray-2,
        &.bg-gray-3,
        &.bg-gray-1,
        &.bg-white
          color: gray-color(gray-6)
          em
            color: lighten(gray-color(gray-6), 25%)
        &.bg-white
          border: solid 1px gray-color(gray-1)
          border-bottom: 0
      .bg-yellow
        color: darken(#ffd466, 50%)
        em
          color: darken(#ffd466, 25%)
      .text-bg-white
        border: solid 1px gray-color(gray-3)
        span
          color: text-color(dark)
        em
          color: text-color(light)
  &-colors-gray,
  &-colors-text
    .guide-color-item
      span:first-child
        border-radius: $border-radius $border-radius 0 0
      span:last-child
        border-radius: 0 0 $border-radius $border-radius

// =========================================
// Hamburger Button
// =========================================
%hamburger
  left: 0
  border-radius: 4px
  background-color: gray-color(gray-4)
  width: 100%
  height: 2px
  position: absolute
  margin-top: -1px
  transition: background 300ms 0s ease, transform 300ms 0s ease, top 300ms 0.2s ease, bottom 300ms 0.2s ease
.hamburger
  @extend %hamburger
  &::before,
  &::after
    content: " "
    @extend %hamburger
  &::before
    top: -8px
  &::after
    bottom: -9px
  &-button
    border: 0
    background: none
    cursor: pointer
    position: absolute
    right: 1rem
    top: 0
    padding: 26px 0
    height: 30px
    width: 30px
    z-index: 1
    transition: opacity 600ms 0s ease, top 600ms 0s ease
    +media(min-width 960px)
      display: none
    &:hover
      .hamburger,
      .hamburger::before,
      .hamburger::after
        background-color: gray-color(gray-1)
    &-clicked
      .hamburger, .hamburger-button:hover .hamburger
        background-color: transparent !important
        &::before
          top: 0
          +transform(rotate(45deg))
        &::after
          bottom: 1px
          +transform(rotate(-45deg))
      .hamburger,
      .hamburger::before,
      .hamburger::after
        transition: background 300ms 0s ease, transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease

// =========================================
// Subnav
// =========================================
.subnav
  &-container
    margin-top: - spacing(4) !important
    &--fixed
      +fixed(top spacing(4) right -3px)
  &-item
    line-height: 1.7
  &-link
    font-size: 12px
    &:focus
      font-weight: bold
    &--active
      font-weight: bold


// =========================================
// Login Page
// =========================================
.login
  &-header
    +media(min-width 0 max-width (960px - 1))
      padding: 30px
    +media(min-width 960px)
      width: 65%
      height: 100vh
      float: left
    &-wrap
      +media(min-width 960px)
        +relative(top 35% left 20%)
  &-copy
    font-size: 15px
    +media(min-width 960px)
      font-size: 18px
  &-name
    +media(min-width 0 max-width (960px - 1))
      font-size: 42px !important
      margin-left: -3px
    +media(min-width 960px)
      font-size: 100px !important
      margin-left: -8px
  &-auth
    +media(min-width 0 max-width (960px - 1))
      padding: 30px
    +media(min-width 960px)
      float: left
      height: 100vh
      width: 35%
      padding-left: 60px
      padding-right: 60px
    +media(min-width 1140px)
      padding-left: 100px
      padding-right: 100px
    &-wrap
      +media(min-width 960px)
        +relative(top 35%)
