{
  "ignore": [
    "**/*.d.ts",
    "**/*.test.ts",
    "**/*.test.tsx"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
