.npmrc

# dependencies
/node_modules

# testing
/coverage
.cache

# production
/build
/dist
/lib
/styleguide
/src/icons/build
lens-styleguide.tar.gz

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
