---
layout: default
title: Buttons
subnav:
  - Default
  - Primary
  - Secondary
  - Alert
  - Inverse
  - Disabled
  - X-Large
  - Inline
  - Topics
  - Full
  - Pill
  - Split
---

<section id="Buttons">
  <h2 id="Default" class="m-b-1-xs" id="default">Default</h2>
  <p class="m-b-3-xs">Use the class, <code>button</code> for this default style button. If you are using the <code>&lt;button&gt;</code> element, always specify a <code>type</code>. When using the <code>&lt;a&gt;</code> tag, include <code>role="button"</code> for accessibility. Each button is available in multiple sizes, take note of examples for classes.</p>
  <a class="m-b-05-xs button button--large-xs" href>Large</a>
  <a class="m-b-05-xs button" href>Normal</a>
  <a class="m-b-05-xs button button--small-xs" href>Small</a>
  <a class="m-b-05-xs button button--xsmall-xs" href>X-Small</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--large-xs" href&gt;Large&lt;/a&gt;
&lt;a class="m-b-05-xs button" href&gt;Normal&lt;/a&gt;
&lt;a class="m-b-05-xs button button--small-xs" href&gt;Small&lt;/a&gt;
&lt;a class="m-b-05-xs button button--xsmall-xs" href&gt;X-Small&lt;/a&gt;</code></pre>
  </div>

  <h3 class="text-4-xs m-b-1-xs">Size Across Breakpoints</h3>
  <p class="m-b-3-xs">You can control the size of a button across breakpoints by tacking any of our breakpoint suffixes to the end of the button size class.</p>
  <a class="m-b-05-xs button button--small-xs button--base-md button--large-xl" href>
    <span class="block-xs hide-md">Small</span>
    <span class="hide-xs block-md hide-xl">Normal</span>
    <span class="hide-xs block-xl">Large</span>
  </a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--large-xs" href&gt;Large&lt;/a&gt;</code></pre>
  </div>




  <h2 id="Primary" class="m-b-1-xs" id="primary">Primary</h2>
  <p class="m-b-3-xs">Primary buttons are used to indicate a <em>primary</em> action on the page. Use the class, <code>.button.button--primary</code>, to get a primary button on your page.</p>
    <a class="m-b-05-xs button button--primary button--large-xs" href>Large</a>
    <a class="m-b-05-xs button button--primary" href>Normal</a>
    <a class="m-b-05-xs button button--primary button--small-xs" href>Small</a>
    <a class="m-b-05-xs button button--primary button--xsmall-xs" href>X-Small</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--primary button--large-xs" href&gt;Large&lt;/a&gt;
&lt;a class="m-b-05-xs button button--primary" href&gt;Normal&lt;/a&gt;
&lt;a class="m-b-05-xs button button--primary button--small-xs" href&gt;Small&lt;/a&gt;
&lt;a class="m-b-05-xs button button--primary button--xsmall-xs" href&gt;X-Small&lt;/a&gt;</code></pre>
  </div>



  <h2 id="Secondary" class="m-b-1-xs" id="secondary">Secondary</h2>
  <p class="m-b-3-xs">Secondary buttons are used to indicate a <em>secondary</em> action on the page. To access these styles, use the class, <code>.button.button--secondary</code>.</p>
    <a class="m-b-05-xs button button--secondary button--large-xs" href>Large</a>
    <a class="m-b-05-xs button button--secondary" href>Normal</a>
    <a class="m-b-05-xs button button--secondary button--small-xs" href>Small</a>
    <a class="m-b-05-xs button button--secondary button--xsmall-xs" href>X-Small</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--secondary button--large-xs" href&gt;Large&lt;/a&gt;
&lt;a class="m-b-05-xs button button--secondary" href&gt;Normal&lt;/a&gt;
&lt;a class="m-b-05-xs button button--secondary button--small-xs" href&gt;Small&lt;/a&gt;
&lt;a class="m-b-05-xs button button--secondary button--xsmall-xs" href&gt;X-Small&lt;/a&gt;</code></pre>
  </div>



  <h2 id="Alert" class="m-b-1-xs" id="alert">Alert</h2>
  <p class="m-b-3-xs">Alert buttons are used to indicate a urgent or negative action on the page. To access these styles, use the class, <code>.button.button--alert</code>.</p>
    <a class="m-b-05-xs button button--alert button--large-xs" href>Large</a>
    <a class="m-b-05-xs button button--alert" href>Normal</a>
    <a class="m-b-05-xs button button--alert button--small-xs" href>Small</a>
    <a class="m-b-05-xs button button--alert button--xsmall-xs" href>X-Small</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button alert button--large-xs" href&gt;Large&lt;/a&gt;
&lt;a class="m-b-05-xs button alert" href&gt;Normal&lt;/a&gt;
&lt;a class="m-b-05-xs button alert button--small-xs" href&gt;Small&lt;/a&gt;
&lt;a class="m-b-05-xs button alert button--xsmall-xs" href&gt;X-Small&lt;/a&gt;</code></pre>
  </div>



  <h2 id='Inverse' class="m-b-1-xs" id="inverse">Inverse</h2>
  <p class="m-b-3-xs">Inverse buttons are used when the background color a container is too dark for normal buttons to have enough contrast. Invert the style with the classes, <code>.button--inverse</code>. <code>.button--inverse-primary</code>. <code>.button--inverse-disabled</code>. <code>.button--inverse-primary-disabled</code>.</p>
  <div class="bg-gray-darker p-2-xs p-b-05-xs">
    <a class="m-b-05-xs button button--inverse" href>Inverse</a>
    <a class="m-b-05-xs button button--inverse-primary" href>Inverse Primary</a>
    <a class="m-b-05-xs button button--inverse-disabled" href>Inverse Disabled</a>
    <a class="m-b-05-xs button button--inverse-primary-disabled" href>Inverse Primary Disabled</a>
  </div>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--inverse" href&gt;Inverse&lt;/a&gt;
&lt;a class="m-b-05-xs button button--inverse-primary" href&gt;Inverse Primary&lt;/a&gt;
&lt;a class="m-b-05-xs button button--inverse-disabled" href&gt;Inverse Disabled&lt;/a&gt;
&lt;a class="m-b-05-xs button button--inverse-primary-disabled" href&gt;Inverse Primary Disabled&lt;/a&gt;</code></pre>
  </div>



  <h2 id="Disabled" class="m-b-1-xs" id="disabled">Disabled</h2>
  <p class="m-b-3-xs">Disabled buttons are used when the action on the page is blocked to the user. Get this button on a page by using the class, <code>.button.button--disabled</code>.</p>
    <a class="m-b-05-xs button button--disabled button--large-xs" href>Large</a>
    <a class="m-b-05-xs button button--disabled" href>Normal</a>
    <a class="m-b-05-xs button button--disabled button--small-xs" href>Small</a>
    <a class="m-b-05-xs button button--disabled button--xsmall-xs" href>X-Small</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--disabled button--large-xs" href&gt;Large&lt;/a&gt;
&lt;a class="m-b-05-xs button button--disabled" href&gt;Normal&lt;/a&gt;
&lt;a class="m-b-05-xs button button--disabled button--small-xs" href&gt;Small&lt;/a&gt;
&lt;a class="m-b-05-xs button button--disabled button--xsmall-xs" href&gt;X-Small&lt;/a&gt;</code></pre>
  </div>



  <h2 id="X-Large" class="m-b-1-xs" id="disabled">Extra Large Buttons</h2>
  <p class="m-b-3-xs">These buttons should typically be reserved for marketing pages since the scale is pretty large and works better visually on marketing layouts.</p>
  <a class="m-b-05-xs button button--xlarge-xs" href>Default</a>
  <a class="m-b-05-xs button button--primary button--xlarge-xs" href>Primary</a>
  <a class="m-b-05-xs button button--secondary button--xlarge-xs" href>Secondary</a>
  <a class="m-b-05-xs button button--alert button--xlarge-xs" href>Alert</a>
  <a class="m-b-05-xs button button--disabled button--xlarge-xs" href>Disabled</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--xlarge-xs" href&gt;Default&lt;/a&gt;
&lt;a class="m-b-05-xs button button--primary button--xlarge-xs" href&gt;Primary&lt;/a&gt;
&lt;a class="m-b-05-xs button button--secondary button--xlarge-xs" href&gt;Secondary&lt;/a&gt;
&lt;a class="m-b-05-xs button button--alert button--xlarge-xs" href&gt;Alert&lt;/a&gt;
&lt;a class="m-b-05-xs button button--disabled button--xlarge-xs" href&gt;Disabled&lt;/a&gt;</code></pre>
  </div>



  <h2 id="Inline" class="m-b-1-xs" id="disabled">Inline Buttons</h2>
  <p class="m-b-0-xs">These buttons are used when you have some inline text inputs and need a button at the end. It changes the padding and height to match the size of text inputs.</p>
  <a class="m-b-05-xs button button--inline" href>Default</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button button--inline" href&gt;Default&lt;/a&gt;</code></pre>
  </div>



  <h2 id="Topics" class="m-b-1-xs" id="topic-color-button">Topic Color Buttons</h2>
  <p class="m-b-3-xs">Each button supports the full array of topic colors by adding the name of the topic to the class. Use classes like, <code>button--topic-css</code>, in conjunction with any other button class combo to set it as a topic color. By default, this will effect the border and text color of the button. To use the primary button style with topic colors apply the topic color class in conjunction with the <code>button--primary</code> class.</p>
  <div class="m-b-05-xs">
    <a class="m-b-05-xs button button--topic-html">HTML</a>
    <a class="m-b-05-xs button button--topic-css">CSS</a>
    <a class="m-b-05-xs button button--topic-java">Java</a>
    <a class="m-b-05-xs button button--topic-python">Python</a>
    <a class="m-b-05-xs button button--topic-php">PHP</a>
    <a class="m-b-05-xs button button--topic-android">Android</a>
    <a class="m-b-05-xs button button--topic-ios">iOS</a>
    <a class="m-b-05-xs button button--topic-diglit">Digital Literacy</a>
  </div>
  <div>
    <a class="m-b-05-xs button button--primary button--topic-html">HTML</a>
    <a class="m-b-05-xs button button--primary button--topic-css">CSS</a>
    <a class="m-b-05-xs button button--primary button--topic-java">Java</a>
    <a class="m-b-05-xs button button--primary button--topic-python">Python</a>
    <a class="m-b-05-xs button button--primary button--topic-php">PHP</a>
    <a class="m-b-05-xs button button--primary button--topic-android">Android</a>
    <a class="m-b-05-xs button button--primary button--topic-ios">iOS</a>
    <a class="m-b-05-xs button button--primary button--topic-diglit">Digital Literacy</a>
  </div>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;div class="m-b-05-xs"&gt;
  &lt;a class="m-b-05-xs button button--topic-html"&gt;HTML&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-css"&gt;CSS&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-java"&gt;Java&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-python"&gt;Python&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-php"&gt;PHP&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-android"&gt;Android&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-ios"&gt;iOS&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--topic-diglit"&gt;Digital Literacy&lt;/a&gt;
&lt;/div&gt;
&lt;div&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-html"&gt;HTML&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-css"&gt;CSS&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-java"&gt;Java&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-python"&gt;Python&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-php"&gt;PHP&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-android"&gt;Android&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-ios"&gt;iOS&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary button--topic-diglit"&gt;Digital Literacy&lt;/a&gt;
&lt;/div&gt;</code></pre>
  </div>



  <h2 id="Full" class="m-b-1-xs" id="disabled">Full Width</h2>
  <p class="m-b-3-xs">Make any button span the full width of its container by using the class, <code>w-full-xs</code>. The padding and text size will be controlled by whichever size class you add. You can control the full-width aspect of the button with breakpoint suffixes.</p>
    <a class="m-b-05-xs button w-full-xs m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button w-full-xs button--primary m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button w-full-xs button--secondary m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button w-full-xs button--alert m-b-05-xs" href>Button</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button w-full-xs m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs button--primary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs button--secondary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs button--alert m-b-05-xs" href&gt;Button&lt;/a&gt;</code></pre>
  </div>
  <p class="m-b-3-xs">These buttons will only be full width on screen that are <code>xs</code>, <code>md</code>, and <code>lg</code>.</p>
  <a class="m-b-05-xs button w-full-xs w-auto-lg m-b-05-xs" href>Button</a>
  <a class="m-b-05-xs button w-full-xs w-auto-lg button--primary m-b-05-xs" href>Button</a>
  <a class="m-b-05-xs button w-full-xs w-auto-lg button--secondary m-b-05-xs" href>Button</a>
  <a class="m-b-05-xs button w-full-xs w-auto-lg button--alert m-b-05-xs" href>Button</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button w-full-xs w-auto-lg m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs w-auto-lg button--primary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs w-auto-lg button--secondary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button w-full-xs w-auto-lg button--alert m-b-05-xs" href&gt;Button&lt;/a&gt;</code></pre>
  </div>

  <h2 id="Pill" class="m-b-1-xs" id="disabled">Pill Buttons (Tags)</h2>
  <p class="m-b-3-xs">Any button can become a pill button by adding the class <code>circle</code> alongside button classes.</p>
    <a class="m-b-05-xs button circle m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button circle button--primary m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button circle button--secondary m-b-05-xs" href>Button</a>
    <a class="m-b-05-xs button circle button--alert m-b-05-xs" href>Button</a>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;a class="m-b-05-xs button circle m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button circle button--primary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button circle button--secondary m-b-05-xs" href&gt;Button&lt;/a&gt;
&lt;a class="m-b-05-xs button circle button--alert m-b-05-xs" href&gt;Button&lt;/a&gt;</code></pre>
  </div>

  <h2 id="Split" class="m-b-1-xs" id="split-buttons">Split Buttons</h2>
  <p class="m-b-3-xs">Split buttons are used when you need a button that contains two actions. To accomplish this, wrap your buttons in <code>&lt;div class="split-button"&gt;</code>.</p>
  <div class="split-button">
    <a class="m-b-05-xs button" href>Add</a>
    <a class="m-b-05-xs button" href>Remove</a>
  </div>
  <div class="split-button">
    <a class="m-b-05-xs button button--primary" href>Add</a>
    <a class="m-b-05-xs button button--primary" href>Remove</a>
  </div>
  <div class="split-button">
    <a class="m-b-05-xs button button--secondary" href>Add</a>
    <a class="m-b-05-xs button button--secondary" href>Remove</a>
  </div>
  <div class="split-button">
    <a class="m-b-05-xs button button--alert" href>Add</a>
    <a class="m-b-05-xs button button--alert" href>Remove</a>
  </div>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;div class="split-button"&gt;
  &lt;a class="m-b-05-xs button" href&gt;Add&lt;/a&gt;
  &lt;a class="m-b-05-xs button" href&gt;&lt;%= icon('add') %&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;div class="split-button"&gt;
  &lt;a class="m-b-05-xs button button--primary" href&gt;Add&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--primary" href&gt;Remove&lt;/a&gt;
&lt;/div&gt;
&lt;div class="split-button"&gt;
  &lt;a class="m-b-05-xs button button--secondary" href&gt;Add&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--secondary" href&gt;Remove&lt;/a&gt;
&lt;/div&gt;
&lt;div class="split-button"&gt;
  &lt;a class="m-b-05-xs button button--alert" href&gt;Add&lt;/a&gt;
  &lt;a class="m-b-05-xs button button--alert" href&gt;Remove&lt;/a&gt;
&lt;/div&gt;</code></pre>
  </div>

  <!-- Coming Soon
  <h2 class="m-b-1-xs" id="with-icon">With Icon</h2>
  <p class="m-b-3-xs">Each button type can handle the addition of an icon. Depending on whether you are adding the icon before or after the text, you'll use the classes <code>icon-on-left</code> or <code>icon-on-right</code>. Each icon is given the default text color of the button it's contained in. All other styles, such as width, height, position, etc. should be applied as a custom, page-specific style</p>
    <button class="m-b-05-xs button icon-on-left"><%= icon('add') %> Add</button>
    <button class="m-b-05-xs button icon-on-left"><%= icon('remove') %> Remove</button>
    <button class="m-b-05-xs button icon-on-left"><%= icon('resume') %> Resume</button>
  <div class="guide-code m-b-4-xs">
<pre><code class="language-html">&lt;button class="m-b-05-xs button icon-on-left"&gt;&lt;&#37;&#61; icon&#40;'add'&#41; &#37;&gt; Add&lt;/button&gt;
&lt;button class="m-b-05-xs button icon-on-left"&gt;&lt;&#37;&#61; icon&#40;'close'&#41; &#37;&gt; Close&lt;/button&gt;
&lt;button class="m-b-05-xs button icon-on-left"&gt;&lt;&#37;&#61; icon&#40;'resume'&#41; &#37;&gt; Resume &lt;/button&gt;</code></pre>
  </div>
  -->
</section>
