#
# Alterations to CHANGELOG will trigger documentation deployment.
# Changes should only be made at release time
#
CHANGELOG @treshugart @mdodgelooker

#
# filter & visualization package changes should generally only happen "upstream"
#
/packages/filter* @treshugart @mdodgelooker @dbchristopher
/packages/visualizations* @treshugart @mdodgelooker @dbchristopher
