.modal
  @extend %relative
  @extend %bg-white
  @extend %p-lr-4, %p-tb-3
  @extend %flex-item-center
  @extend %flex-justify-center
  border-radius: 5px

.modal--header-title
  @extend %text-2

.modal--body
  @extend %p-t-4

.modal--footer
  @extend %p-t-4

.modal--footer-actions
  @extend %text-right

.modal--close
  @extend %absolute
  @extend %pos-r-4
  margin-top: 5px
  opacity: 0.65
  +selected
    opacity: 1

.modal--tarp
  @extend %absolute
  @extend %pos-t-0, %pos-r-0, %pos-b-0, %pos-l-0
  @extend %z-4
  @extend %bg-gray-7
  @extend %flex-block
  opacity: 0.65
