table
  max-width: 100%
  border-collapse: collapse
  th,
  td
    text-align: left
    vertical-align: middle

  th
    background: transparent
    @extend %text-n2-xs
    font-weight: $bold
    color: $th-color
    padding: 8px
    margin-bottom: spacing(1)
  td
    padding: 8px
    font-size: 12px
    color: $td-color
  > td
    border-top: 1px solid gray-color(gray-2)

  &.table-striped
    th
      background: transparent
      border-bottom: 1px solid gray-color(gray-2)
      font-size: text-size(6)
      font-weight: $bold
      color: $th-color
      padding: 8px
      margin-bottom: spacing(1)
    td
      padding: 8px
      font-size: text-size(6)
      color: $td-color
    tr:nth-child(even) > td
      background-color: transparent
      border: none

    tr:nth-child(odd) > td
      background-color: #f6f6f7
      @include rounded-row(4px)
      border: none

  &.table-content
    th
      border-bottom-width: 1px
      border-color: $th-border-color
      padding: spacing(0.5)
      padding-top: spacing(1)
      color: gray-color(gray-5)
      font-size: text-size(7)
      font-weight: normal
      white-space: nowrap
      &:first-child
        padding-left: 0
    td
      font-size: 14px
      padding: spacing(1) spacing(0.5)
      font-weight: normal
      border-top: 1px solid gray-color(gray-2)
      &:first-child
        padding-left: 0
      .sub-text
        font-size: text-size(6)
        color: #7f7977
        font-weight: normal
