<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7055252/6518352/css/fonts.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styleguide.css">
</head>
