$lens-version: "0.1.0";

// Brand Colors
$brand-colors: (
  "purple": #41327B,
  "gray":   #1C2027,
  "blue":   #0E88F1
);

// Gray Colors
$gray-colors: (
  "white":   #fff,
  "gray-1":  #F6F6F7,
  "gray-2":  #E4E5E6,
  "gray-3":  #D2D3D4,
  "gray-4":  #A4A6A9,
  "gray-5":  #77797E,
  "gray-6":  #3C4345,
  "gray-7":  #1C2027
);

// UI Colors
$ui-colors: (
  "purple-dark":  #2A1B60,
  "purple":       #4C33AA,
  "purple-light": #7E64E0,
  "red-dark":     #92100E,
  "red":          #B00505,
  "red-light":    #E1332C,
  "green":        #4BB86A,
  "teal":         #5DCCCC,
  "teal-dark":    #39B2B2,
  "yellow":       #FFD822,
  "orange":       #FB9331,
  "orange-dark":  #E57200
);



// Spacing Units
//   0   = 0px
//   0.5 = 8px
//   1   = 16px
//   2   = 24px
//   3   = 32px
//   4   = 48px
//   5   = 64px
//   6   = 80px
$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);

// Type Variables
$text-size: (
  0: 3rem,
  1: 2.25rem,
  2: 1.75rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);
$brand-font: 'Open Sans', sans-serif;
$light: 300;
$bold: 600;



// Global Border Variables
$border-color-dark:   #b7c0c7;
$border-color-mid:    #d4d9dd;
$border-color-normal: #e8ebed;
$border-color-light:  #f0f2f4;
$border-radius: 2px;

// Grid max width
$grid-width: 1260px;

// Global Responsive Breakpoints
$sm: 480px;
$md: 680px;
$lg: 960px;
$xl: 1140px;
