$lens-version: "0.1.0";

@import "functions/all";



// =========================================
// Colors
// =========================================
$gray-colors: (
  "white":   #fff,
  "gray-1":  #F6F6F7,
  "gray-2":  #E4E5E6,
  "gray-3":  #D2D3D4,
  "gray-4":  #A4A6A9,
  "gray-5":  #77797E,
  "gray-6":  #3C4345,
  "gray-7":  #1C2027
);

$ui-colors: (
  "purple-dark":  #2A1B60,
  "purple":       #4C33AA,
  "purple-light": #7E64E0,
  "red-dark":     #92100E,
  "red":          #B00505,
  "red-light":    #E1332C,
  "green":        #4BB86A,
  "teal-dark":    #39B2B2,
  "teal":         #5DCCCC,
  "yellow":       #FFD822,
  "orange-dark":  #E57200,
  "orange":       #FB9331,
  "blue":         #0E88F1
);

$color-properties: color border-color background-color;



// =========================================
// Spacing Units
// =========================================
// n2: 4px
// n1: 8px
// 1: 16px
// 2: 20px
// 3: 24px
// 4: 30px
// 5: 36px
// 6: 46px
$spacing-base: 16px;
$spacing: (
  n2: $spacing-base * 0.25,
  n1: $spacing-base * 0.5,
  0:  0,
  1:  $spacing-base,
  2:  $spacing-base * 1.25,
  3:  $spacing-base * 1.5,
  4:  $spacing-base * 1.875,
  5:  $spacing-base * 2.25,
  6:  $spacing-base * 2.875
);

$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);



// =========================================
// Typography
// =========================================
$body-font-size: 16px;

$text-size: (
  n2: (12px, 20px),
  n1: (14px, 24px),
  1:  (16px, 24px),
  2:  (19px, 27px),
  3:  (22px, 30px),
  4:  (28px, 36px),
  5:  (38px, 46px),
  6:  (52px, 60px),
  7:  (62px, 72px)
);
$brand-font: 'Open Sans', Helvetica, Arial, sans-serif;
$code-font: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
$text-alignments: left, right, center, justify;



// =========================================
// Responsive Breakpoints
// =========================================
$breakpoints: (
  sm: 480px,
  md: 680px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);
$grid-max-width: 1260px;



// =========================================
// Layout and Display
// =========================================
$display-types: block, hide, inline, inline-block;
$overflow-types: hidden, auto, scroll, visible;
$position-types: relative, absolute, fixed, static;
$position-sides: (top: t, bottom: b, left: l, right: r);
$z-indexes: (100: 1, 200: 2, 300: 3, 400: 4);
$rotation-angles: 0, 45, 90, 135, 180, 225, 270, 315;
$vertical-alignment-types: top, middle, bottom;
$width-height-types: auto, full, fit;
$widths: 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100;



// =========================================
// Table
// =========================================
$th-color: gray-color(gray-5);
$td-color: gray-color(gray-7);



// =========================================
// Borders
// =========================================
$border-radius: 5px;
$border-color-dark:   gray-color(gray-3);
$border-color-normal: gray-color(gray-2);
$border-color-light:  gray-color(gray-1);
$border-types: (top: t, bottom: b, left: l, right: r);
$border-values: normal, dark, light;



// =========================================
// Buttons
// =========================================
$alert-buttons: true;
$disabled-buttons: true;
$neutral-buttons: false;
$inverse-buttons: false;
$split-buttons: true;

// Button size style maps
$button-default-font-size: 16px;
$button-default-line-height: 24px;
$button-default-padding-x: 23px;
$button-default-padding-y: 5px;
$button-sizes: (
  xsmall: (font-size: 12px, line-height: 20px, padding-x: 7px, padding-y: 1px),
  small: (font-size: 14px, line-height: 24px, padding-x: 15px,padding-y: 2px),
  normal: (font-size: $button-default-font-size, line-height: $button-default-line-height, padding-x: $button-default-padding-x, padding-y: button-default-padding-y),
  large: (font-size: 22px, line-height: 30px, padding-x: 23px, padding-y: 7px),
  xlarge: false
);

$button-border-radius: $border-radius;
$button-font: $brand-font;
$button-font-size: $button-default-font-size;
$button-text-transform: none;
$button-font-weight: $semi-bold;
$button-letter-spacing: normal;
$button-line-height: $button-default-line-height;
$button-transition: none;
$button-padding: $button-default-padding-y $button-default-padding-x;
$button-margin: 12px;
$button-default-bg: gray-color(white);
$button-default-border: 1px solid ui-color(purple-light);
$button-default-font-color: ui-color(purple-light);
$button-default-bg-hover: white;
$button-default-border-hover: 1px solid ui-color(purple);
$button-default-font-color-hover: ui-color(purple);

$button-primary-bg: ui-color(purple-light);
$button-primary-border-color: ui-color(purple-light);
$button-primary-font-color: gray-color(white);
$button-primary-bg-hover: ui-color(purple);
$button-primary-border-color-hover: ui-color(purple);
$button-primary-font-color-hover: gray-color(white);

$button-alert-bg: ui-color(red-dark);
$button-alert-border-color: ui-color(red-dark);
$button-alert-font-color: #fff;
$button-alert-bg-hover: ui-color(red);
$button-alert-border-color-hover: ui-color(red);
$button-alert-font-color-hover: #fff;


$button-neutral-bg: gray-color(gray-2);
$button-neutral-border-color: gray-color(gray-2);
$button-neutral-font-color: gray-color(gray-7);
$button-neutral-bg-hover: darken(gray-color(gray-2), 10%);
$button-neutral-border-color-hover: gray-color(gray-2);
$button-neutral-font-color-hover: gray-color(gray-7);

$button-inverse-bg: #fff;
$button-inverse-border-color: #fff;
$button-inverse-font-color: ui-color(purple);
$button-inverse-opacity: 0.88;
$button-inverse-opacity-hover: 1;
$button-inverse-bg-hover: #fff;
$button-inverse-border-color-hover: #fff;
$button-inverse-font-color-hover: ui-color(purple);



// =========================================
// Forms
// =========================================
$form-font-size: 12px;
$form-input-height: 28px;
$form-token-height: 18px;
$form-background-inactive: #fff;
$form-border-inactive: #DDDDDD;
$form-color-inactive: gray-color(gray-4);
$form-color-disabled: #e8e8e8;
$form-background-active: #fff;
$form-border-active: #A3D4DA;
$form-color-active: gray-color(gray-5);
$form-shadow-active: rgba(163, 212, 218, 0.7);
$form-feedback-error: lighten(ui-color(red), 57%);
$form-feedback-error-text: ui-color(red);
$lk-switch-active-bg: #a07bc7;
$lk-switch-inactive-bg: #7f889b;
