$lens-version: "0.1.0";

// Brand Colors
$brand-colors: (
  "green": #5fcf80,
  "gray":  #3e474f,
  "gray-dark": #2e343f // from Looker! TODO(nat) this will probably eventually replace gray one line above
);

// Text Colors
$text-colors: (
  "dark":     #40484a,
  "medium":   #4b5658,
  "base":     #576366,
  "light":    #7b8b8e,
  "white":    #fff
);

// Gray Colors
$gray-colors: (
  "gray-darker":  #61656d,
  "gray-dark":    #7f889b,
  "gray":         #A4A6A9,
  "gray-light":   #e4e5e6,
  "gray-lighter": #f6f6f7
);

// UI Colors
$ui-colors: (
  "blue":         #3f8abf,
  "green":        #36b55c,
  "yellow":       #ffd466,
  "orange":       #ff9f1f,
  "red":          #ed5a5a
);

// Button Colors
$button-colors: (
  "purple-dark":  #473764,
  "purple":       #64518A,
  "purple-light": #8B7DA8,
  "red-dark":     #980C11,
  "red":          #D01B1B,
  "red-light":    #E1332C
);

// Spacing Units
//   0   = 0px
//   0.5 = 8px
//   1   = 16px
//   2   = 24px
//   3   = 32px
//   4   = 48px
//   5   = 64px
//   6   = 80px
$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);

// Type Variables
$text-size: (
  0: 3rem,
  1: 2.25rem,
  2: 1.75rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);
$brand-font: 'Open Sans', sans-serif;
$light: 300;
$bold: 600;



// Global Border Variables
$border-color-dark:   #b7c0c7;
$border-color-mid:    #d4d9dd;
$border-color-normal: #e8ebed;
$border-color-light:  #f0f2f4;
$border-radius: 2px;



// Global Responsive Breakpoints
$sm: 480px;
$md: 680px;
$lg: 960px;
$xl: 1140px;
