@import '../../styles/variables';

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gap-xs  { grid-gap: spacing(xs); }
.gap-s  { grid-gap: spacing(s); }
.gap-m  { grid-gap: spacing(m); }
.gap-l  { grid-gap: spacing(l); }
.gap-xl { grid-gap: spacing(xl); }
.gap2xl { grid-gap: spacing(2xl); }
.gap3xl { grid-gap: spacing(3xl); }
.gap4xl { grid-gap: spacing(4xl); }
