.component-desc {
  margin-top: var(--lens-spacing-4xl);

  font-size: var(--lens-font-size-2);
  line-height: var(--lens-line-height-2);
}

.doc-section {
  margin-bottom: var(--lens-spacing-3xl);
}

.doc-section-divider {
  margin: var(--lens-spacing-3xl) 0;
  height: 1px;
  background: var(--lens-border-color);

}
