.component-desc {
  margin-top: var(--lens-spacing-4xl);
  margin-bottom: var(--lens-spacing-4xl);
  padding-bottom: var(--lens-spacing-2xl);
  border-bottom: solid 1px var(--lens-border-color);
  font-size: var(--lens-font-size-2);
  line-height: var(--lens-line-height-2);
}
