$config: (

  primary-color: color('primary'),
  primary-color-hover: color('primary', 600),
  primary-color-active: color('primary', 700),
  primary-color-border:  color('primary'),
  primary-color-text: #fff,

  secondary-color: #ffffff,
  secondary-color-hover: #EAE6FA,
  secondary-color-active: #D6CDF5,
  secondary-color-border: #64518A,
  secondary-color-text: #64518A,

  scary-color: #E1332C,
  scary-color-hover: #B00505,
  scary-color-active: #92100E,
  scary-color-border: #E1332C,
  scary-color-text: #FFFFFF,


  spacing-xs: spacing(xs),
  spacing-sm: spacing(s),
  spacing-base: spacing(m),
  spacing-lg: spacing(l),
  spacing-xl: spacing(xl),
  spacing-2xl: spacing(2xl),
  spacing-3xl: spacing(3xl),
  spacing-4xl: spacing(4xl),

  brand-font: $brand-font,
  code-font: $code-font,

  font-size-d1: font-size(d1),
  font-size-d2: font-size(d2),
  font-size-d3: font-size(d3),
  font-size-1: font-size(1),
  font-size-2: font-size(2),
  font-size-3: font-size(3),
  font-size-4: font-size(4),
  font-size-5: font-size(5),
  font-size-6: font-size(6),

  line-height-d1: line-height(d1),
  line-height-d2: line-height(d2),
  line-height-d3: line-height(d3),
  line-height-1: line-height(1),
  line-height-2: line-height(2),
  line-height-3: line-height(3),
  line-height-4: line-height(4),
  line-height-5: line-height(5),
  line-height-6: line-height(6),

  color-critical: color('red'),
  color-positive: color('green'),
  color-gray-100: color('gray', 100),
  color-gray-200: color('gray', 200),
  color-gray-300: color('gray', 300),
  color-gray-400: color('gray', 400),
  color-gray: color('gray', 500),
  color-gray-600: color('gray', 600),
  color-gray-700: color('gray', 700),

  color-purple: color('purple'),
  color-purple-300: color('purple', 300),
  color-purple-400: color('purple', 400),
  color-purple-600: color('purple', 600),
  color-purple-700: color('purple', 700),

  color-blue: color('blue'),
  color-blue-300: color('blue', 300),
  color-blue-400: color('blue', 400),
  color-blue-600: color('blue', 600),
  color-blue-700: color('blue', 700),

  color-yellow: color('yellow'),
  color-yellow-300: color('yellow', 300),
  color-yellow-400: color('yellow', 400),
  color-yellow-600: color('yellow', 600),
  color-yellow-700: color('yellow', 700),

  color-green: color('green'),
  color-green-300: color('green', 300),
  color-green-400: color('green', 400),
  color-green-600: color('green', 600),
  color-green-700: color('green', 700),

  color-red: color('red'),
  color-red-300: color('red', 300),
  color-red-400: color('red', 400),
  color-red-600: color('red', 600),
  color-red-700: color('red', 700),

  color-fog: color('fog'),
  color-fog-200: color('fog', 200),
  color-fog-300: color('fog', 300),
  color-fog-400: color('fog', 400),

  color-space: color('space'),
  color-space-200: color('space', 200),
  color-space-300: color('space', 300),
  color-space-400: color('space', 400),

  link-color: map-get($colors, 'link'),

  border-color: color('fog', 400),
  border-color-dark: color('fog', 500),
  border-color-light: color('space', 300)


)

:root {
  @each $name, $val in $config {
    --lens-#{$name}: #{$val};
 }
}
