$config: (
  spacing-xs: spacing(xs),
  spacing-sm: spacing(sm),
  spacing-base: spacing(base),
  spacing-lg: spacing(lg),
  spacing-xl: spacing(xl),
  spacing-2xl: spacing(2xl),
  spacing-3xl: spacing(3xl),
  spacing-4xl: spacing(4xl),

  font-size-d1: font-size(d1),
  font-size-d2: font-size(d2),
  font-size-d3: font-size(d3),
  font-size-1: font-size(1),
  font-size-2: font-size(2),
  font-size-3: font-size(3),
  font-size-4: font-size(4),
  font-size-5: font-size(5),
  font-size-6: font-size(6),

  line-height-d1: line-height(d1),
  line-height-d2: line-height(d2),
  line-height-d3: line-height(d3),
  line-height-1: line-height(1),
  line-height-2: line-height(2),
  line-height-3: line-height(3),
  line-height-4: line-height(4),
  line-height-5: line-height(5),
  line-height-6: line-height(6),


  border-color: color('gray', 200),
)

:root {
  @each $name, $val in $config {
    --lens-#{$name}: #{$val};
 }
}
