@import '../../styles/variables';
.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  min-width: 200px;
  border: 1px solid color('gray', 200);
  transition: border 100ms;

  &:hover {
    border-color: color('gray', 300);
  }
}

.is-raised {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.is-stacked {
  overflow: hidden;
}
