@import '../../styles/variables';

.card-group {
  display: grid;

  //grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  //grid-gap: spacing(m);
}

.gap-s  { grid-gap: spacing(s); }
.gap-m  { grid-gap: spacing(m); }
.gap-l  { grid-gap: spacing(l); }
.gap-xl { grid-gap: spacing(xl);}
