.lens-icon {
  height: 1rem;
  width: 1rem;
  max-height: 100%;
  max-width: 100%;

  svg {
    fill: currentColor;
    height: 1rem;
    width: 1rem;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}
