@import '../../styles/util';
@import '../../styles/variables';

.lens-heading {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: $brand-font;
  font-weight: $default-font-weight;
}

.is-display-1 {
  font-size: font-size(d1);
  line-height: line-height(d1);
}

.is-display-2 {
  font-size: font-size(d2);
  line-height: line-height(d2);
}

.is-display-3 {
  font-size: font-size(d3);
  line-height: line-height(d3);
}

h1, .is-heading-1 {
  font-size: font-size(1);
  line-height: line-height(1);
}

h2, .is-heading-2 {
  font-size: font-size(2);
  line-height: line-height(2);
}

h3, .is-heading-3 {
  font-size: font-size(3);
  line-height: line-height(3);
}

h4, .is-heading-4 {
  font-size: font-size(4);
  line-height: line-height(4);
}

h5, .is-heading-5 {
  font-size: font-size(5);
  line-height: line-height(5);
}

h6, .is-heading-6 {
  font-size: font-size(6);
  line-height: line-height(6);
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extra-bold {
  font-weight: 600;
}

.transform-upper {
  text-transform: uppercase;
}

.transform-lower {
  text-transform: lowercase;
}

.transform-caps {
  text-transform: capitalize;
}

.transform-none {
  text-transform: none;
}

.is-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


