@import '../styles/font-utils';

$purple-normal-button: #64518A;
$purple-hover-button: #473764;
$purple-active-button: #2A1B60;

$light-normal-button: #FFFFFF;
$light-hover-button: #EAE6FA;
$light-active-button: #D6CDF5;
$light-normal-button-border: #7E64E0;
$light-hover-button-border: #4C33AA;
$light-active-button-border: #4C33AA;

$scary-normal-button: #E1332C;
$scary-hover-button: #B00505;
$scary-active-button: #92100E;

$disabled-grey-button: #E4E5E6;

$text-white: #FFFFFF;
$text-grey: #A4A6A9;
$text-purple: #7E64E0;

.button {
  @include fontSize(16px);

  background-color: $purple-normal-button;
  border: pxToRem(1px) solid $purple-normal-button;
  border-radius: pxToRem(6px);
  color: $text-white;
  cursor: pointer;
  display: inline-block;
  line-height: pxToRem(24px);
  padding: pxToRem(6px) pxToRem(16px);
  white-space: nowrap;
  vertical-align: middle;

  &:hover {
    background-color: $purple-hover-button;
    border-color: $purple-hover-button;
  }

  &:active {
    background-color: $purple-active-button;
    border-color: $purple-active-button;
  }

  &.size-extra-small {
    @include fontSize(12px);
    line-height: pxToRem(20px);
    padding: pxToRem(2px) pxToRem(8px);
  }

  &.size-small {
    @include fontSize(14px);
    padding: pxToRem(3px) pxToRem(14px);
  }

  &.size-large {
    @include fontSize(22px);
    line-height: pxToRem(30px);
    padding: pxToRem(8px) pxToRem(24px);
  }

  &.mode-light {
    background: $light-normal-button;
    color: $text-purple;
    border-color: $light-normal-button-border;

    &:hover {
      background-color: $light-hover-button;
      border-color: $light-hover-button-border;
    }

    &:active {
      background-color: $light-active-button;
      border-color: $light-active-button-border;
    }
  }

  &.mode-ghost {
    background: $light-normal-button;
    border: none;
    color: $text-purple;

    &:hover {
      background-color: $light-hover-button;
    }

    &:active {
      background-color: $light-active-button;
    }
  }

  &.mode-scary {
    background: $scary-normal-button;
    border-color: $scary-normal-button;

    &:hover {
      border-color: $scary-hover-button;
      background-color: $scary-hover-button;
    }

    &:active {
      border-color: $scary-active-button;
      background-color: $scary-active-button;
    }
  }

  &.mode-disabled {
    background: $disabled-grey-button;
    border-color: $disabled-grey-button;
    color: #A4A6A9;
  }
}
