$button-default-color: #64518A;
$button-default-highlight: #473764;
$button-light-color: transparent;
$button-scary-color: #E1332C;

$button-font-color: white;
$button-font-color-light: $button-default-color;

$button-font-size-xs: 12px;
$button-font-size-small: 14px;
$button-font-size-medium: 16px;
$button-font-size-large: 22px;

.button {
  background-color: $button-default-color;
  border: 1px solid $button-default-color;
  border-radius: 6px;
  color: $button-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size-medium;
  line-height: 24px;
  padding: 6px 16px;
  white-space: nowrap;
  vertical-align: middle;

  &:hover {
    background-color: $button-default-highlight;
    border: 1px solid $button-default-highlight;
  }

  &.size-extra-small {
    font-size: $button-font-size-xs;
    line-height: 20px;
    padding: 2px 8px;
  }

  &.size-small {
    font-size: $button-font-size-small;
    padding: 3px 14px;
  }

  &.size-large {
    font-size: $button-font-size-large;
    line-height: 30px;
    padding: 8px 24px;
  }

  &.mode-light {
    background: $button-light-color;
    color: $button-font-color-light;
  }

  &.mode-ghost {
    background: $button-light-color;
    border: none;
    color: $button-font-color-light;
  }

  &.mode-scary {
    background: $button-scary-color;
    border-color: $button-scary-color;
  }
}
