@mixin appearance($value: none)
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none

@mixin user-select($value: none)
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

