.lens-link {
  color: var(--lens-link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.card-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
