name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  conventional-commit-check:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v1.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Configure which scopes are allowed.
          scopes: |
            - components
            - components-providers
            - components-test-utils
            - components-theme-editor
            - design-tokens
            - eslint-config
            - icons
            - prettier
            - stylelint-config
            - app:www
            - app:storybook
            - deps
          # Configure that a scope must always be provided.
          requireScope: true
  lint:
    name: "Lint: ESLint + Prettier, Stylelint, Typescript"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn
      - run: yarn lint:ts
        name: 'Typescript'
      - run: yarn lint:es
        name: 'ESLint'
      - run: yarn lint:css
        name: 'Stylelint'
      - run: yarn lint:circular
        name: 'Madge'
  test:
    name: "Tests: Jest + RTL"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn test
    env:
      CI: true
  build:
    name: "Build: ES & Typescript"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn build
  gatsby:
    name: "Gatsby"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn workspace www build
  storybook:
    name: "Storybook"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn workspace storybook build
  image-snapshots:
    name: "Image Snapshots"
    if: false # Disabled until snapshot issues can be resolved
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn preimage-snapshots &> /dev/null
      - run: yarn image-snapshots-only
