name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    name: "Lint: ESLint + Prettier, Stylelint, Typescript"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn
      - run: yarn prebuild
      - run: yarn lint:ts
        name: 'Typescript'
      - run: yarn lint:es
        name: 'ESLint'
      - run: yarn lint:css
        name: 'Stylelint'
      - run: yarn lint:circular
        name: 'Madge'
  test:
    name: "Tests: Jest + RTL"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn test
    env:
      CI: true
  build:
    name: "Build: ES & Typescript"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn build
  gatsby:
    name: "Gatsby"
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn prebuild
      - run: yarn workspace www build
  storybook:
    name: "Storybook"
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn prebuild
      - run: yarn workspace storybook build
  image-snapshots:
    name: "Image Snapshots"
    if: true # Disabled until snapshot issues can be resolved
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: c-hive/gha-yarn-cache@v1
      - run : yarn --silent
      - run: yarn prebuild
      - run: yarn preimage-snapshots &> /dev/null
      - run: yarn image-snapshots-only
